@charset "UTF-8";

#gameboard{
    display: flex;
    flex-flow: row wrap;
    width: 320px;
    height: 320px;
    background-color: black;
}

.square{
    height: 40px;
    width: 40px;
    position: relative;
}

.beige{
    background-color: rgb(110, 110, 98);
}

.brown{
    background-color: brown;
}

.square svg{
    height: 30px;
    width: 30px;
    margin: 5px;
    position: relative;
    z-index: -9;
}

path{
    position: relative;
    z-index: -10;
}

.piece{
    position: relative;
    z-index: 9;
}

.black{
    fill: rgb(51, 51, 51);
}

.white{
    fill: rgb(211, 211, 211);
}